@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

  @font-face {
    font-family: 'Mosk200';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Extra-Light 200.woff') format('woff');
    }

    @font-face {
    font-family: 'Mosk100';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Thin 100.woff') format('woff');
    }

    @font-face {
    font-family: 'Mosk300';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Light 300.woff') format('woff');
    }
  

    @font-face {
    font-family: 'Mosk500';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Medium 500.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk600';
    font-style: normal;
    font-weight: normal;
    src: url(' /Fonts/mosk/Mosk Semi-Bold 600.woff') format('woff');
    }
   

    @font-face {
    font-family: 'Mosk700';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Bold 700.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk800';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Extra-Bold 800.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk900';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Ultra-Bold 900.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk400';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Normal 400.woff') format('woff');
    }


/*Texto principal*/
  .text-stroke {
    color: transparent;
    -webkit-text-stroke: 2px #1f2937 ;
  }

  .hover\:text-stroke-none:hover {
    -webkit-text-stroke: 0;
  }

/*Scroll bar*/

::-webkit-scrollbar{
  width: 18px;
  
}

::-webkit-scrollbar-track{
  background: #111827;
  
}

::-webkit-scrollbar-thumb{
  background: #6366f1;
  border: 3px solid #111827;
  border-radius: 12px;
}
  
    
.flip-card {
  perspective: 1000px;
}

.flip-card-inner{
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card-front, .flip-card-back{
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back{
  transform: rotateY(180deg);
}


