@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

  @font-face {
    font-family: 'Mosk200';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Extra-Light 200.woff') format('woff');
    }

    @font-face {
    font-family: 'Mosk100';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Thin 100.woff') format('woff');
    }

    @font-face {
    font-family: 'Mosk300';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Light 300.woff') format('woff');
    }
  

    @font-face {
    font-family: 'Mosk500';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Medium 500.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk600';
    font-style: normal;
    font-weight: normal;
    src: url(' /Fonts/mosk/Mosk Semi-Bold 600.woff') format('woff');
    }
   

    @font-face {
    font-family: 'Mosk700';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Bold 700.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk800';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Extra-Bold 800.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk900';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Ultra-Bold 900.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk400';
    font-style: normal;
    font-weight: normal;
    src: url('/Fonts/mosk/Mosk Normal 400.woff') format('woff');
    }

  .text-stroke {
    color: transparent;
    -webkit-text-stroke: 2px #1f2937 ;
  }

  .hover\:text-stroke-none:hover {
    -webkit-text-stroke: 0;
  }
  
    
