@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&display=swap');

.text-stroke {
    color: transparent;
    -webkit-text-stroke: 2px #1f2937 ;
  }

  .hover\:text-stroke-none:hover {
    -webkit-text-stroke: 0;
  }



  @font-face {
    font-family: 'Mosk Extra-Light 200';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Extra-Light 200'), url('/Fonts/mosk/Mosk Extra-Light 200.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Thin 100';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Thin 100'), url('/Fonts/mosk/Mosk Thin 100.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Light 300';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Light 300'), url('/Fonts/mosk/Mosk Light 300.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Medium 500';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Medium 500'), url('/Fonts/mosk/Mosk Medium 500.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Semi-Bold 600';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Semi-Bold 600'), url('/Fonts/mosk/Mosk Semi-Bold 600.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Bold 700';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Bold 700'), url('/Fonts/mosk/Mosk Bold 700.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Extra-Bold 800';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Extra-Bold 800'), url('/Fonts/mosk/Mosk Extra-Bold 800.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Ultra-Bold 900';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Ultra-Bold 900'), url('/Fonts/mosk/Mosk Ultra-Bold 900.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mosk Normal 400 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('/Fonts/mosk/MoskMosk Normal 400 Regular'), url('/Fonts/mosk/Mosk Normal 400.woff') format('woff');
    }